TestingTorNetwork 1
RunAsDaemon 0
Nickname ${inventory_hostname}
Address ${self_host}

DataDirectory ${data_directory}
PidFile ${data_directory}/pid

PathsNeededToBuildCircuits 0.95

ShutdownWaitLength 2
DisableDebuggerAttachment 0

ControlPort 9051
ControlSocket ${data_directory}/control
CookieAuthentication 1

PPChannelCallbackPort 5817
PPChannelPort 28080
EnablePaymentLog 1

ProtocolWarnings 1
SafeLogging 0
LogTimeGranularity 1
#Sandbox 1

${dirauth}

SocksPort 0
OrPort 5037
#DirPort 7001

#ServerDNSDetectHijacking 0
#ServerDNSTestAddresses
#ServerDNSResolvConfFile /etc/resolv.conf

ExitRelay 1
IPv6Exit 1

#ExitPolicy accept 127.0.0.0/8:*
#ExitPolicyRejectPrivate 0
#ExitPolicy accept private:*
#ExitPolicy accept *:*
#ExitPolicy reject *:*
#ExitPolicy accept6 [::1]:*
#ExitPolicyRejectPrivate 0
#ExitPolicy accept6 private:*
#ExitPolicy reject6 *:*
