TestingTorNetwork 1
PathsNeededToBuildCircuits 0.67
TestingDirAuthVoteExit *
TestingDirAuthVoteHSDir *
V3AuthNIntervalsValid 2
CircuitsAvailableTimeout 3600
CountPrivateBandwidth 0
MaxCircuitDirtiness 544000
AccountingStart day 0:00
AccountingMax 50 GBytes
RelayBandwidthRate 1000 KBytes
RelayBandwidthBurst 5000 KBytes

TestingDirAuthVoteGuard *
TestingMinExitFlagThreshold 0

DataDirectory ${data_directory}
RunAsDaemon 0
ConnLimit 60
Nickname ${inventory_hostname}
ShutdownWaitLength 2
DisableDebuggerAttachment 0

ControlPort 9051
ControlSocket ${data_directory}/control
CookieAuthentication 1
PidFile ${data_directory}/pid

PPChannelCallbackPort 5817
PPChannelPort 28080
EnablePaymentLog 1

ProtocolWarnings 1
SafeLogging 0
LogTimeGranularity 1

Sandbox 1

${dirauth}

SocksPort 9050
Address ${self_host}

HiddenServiceDir ${data_directory}/hidden_service/hsv3
HiddenServicePort 80 ${wwwsite}
HiddenServiceVersion 3

ExitPolicy reject *:*
ExitPolicy reject6 *:*
